/*{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(148, 148, 148);
}*/
footer{
    text-align: right;
    padding: 0%;
    color: gray;
}
.header{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.header img{
    float: left;
    width: 140px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
}
.body{
    height: 100vh;
    width: 200vh;
    background-image: linear-gradient(rgba(0,0,0,0.371),rgba(0, 0, 0, 0.371)),url(/Images/TravelBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    text-align: left;
    padding-left: 70px;
}
.container h1{
    color: cornsilk;
    text-decoration: solid;
    font-size: 70px;
}
.container h1:hover{
    color: lightpink;
    text-decoration: solid;
    font-size: 70px;
}
.container p{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid beige;
    color: white;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
}
button:hover{
    /*background-color: rgba(245, 245, 220, 0.637);*/
    background-color: lightpink;
    color: black;
}
input{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid beige;
    color: white;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
}
hr{
    width: 40%;
    float: left;
    color: beige;
}
embed{
    border-radius: 15px;
    width: 100px;
    height: 100px;
}
video{
    border-radius: 15px;
}